@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans-Regular.woff2") format("woff2");
}
